jaxrs-to-raml/functional-tests/schemas/booklisting.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="book" type="book"/>

  <xs:element name="listing" type="bookListing"/>

  <xs:complexType name="bookListing">
    <xs:sequence>
      <xs:element name="books" type="book" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="book">
    <xs:sequence>
      <xs:element name="author" type="xs:string" minOccurs="0"/>
      <xs:element name="ISBN" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="title" type="xs:string"/>
  </xs:complexType>
</xs:schema>

