jaxrs-to-raml/functional-tests/schemas/state_ref.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="state" type="stateREF"/>

  <xs:complexType name="stateREF">
    <xs:sequence>
      <xs:element name="id" type="xs:int" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="population" type="xs:long" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="uri" type="xs:string"/>
    <xs:attribute name="href" type="xs:string" use="required"/>
  </xs:complexType>
</xs:schema>

